/*******************************************************************************
 * 
 * Mostly a bunch of stuff to make chrome actually render shit correctly
 *
 ******************************************************************************/

/* Make the columnalign attribute behave correctly */
mtable[columnalign="left"]  mtd{
    text-align: left;
    text-align: -webkit-left;
}
mtr[columnalign="left"]  mtd{
    text-align: left;
    text-align: -webkit-left;
}
mtd[columnalign="left"] {
    text-align: left;
    text-align: -webkit-left;
}
mtable[columnalign="right"]  mtd{
    text-align: right;
    text-align: -webkit-right;
}
mtr[columnalign="right"]  mtd{
    text-align: right;
    text-align: -webkit-right;
}
mtd[columnalign="right"] {
    text-align: right;
    text-align: -webkit-right;
}

/* Some <menclose> things... */

menclose[notation="updiagonalstrike"]{
    /* https://stackoverflow.com/a/40499367 */
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}
